{% extends 'base.html' %}
{% block content %}

<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xxl-6 offset-xxl-3">
    <h1>Add Player</h1>
    <form method="POST" action="{% url 'add' %}">
        {% csrf_token %}

        {{ form.non_field_errors }}
        <div class="fieldWrapper mb-3">
            {{ form.first_name.errors }}
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
        </div>
        <div class="fieldWrapper mb-3">
            {{ form.last_name.errors }}
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
        </div>
        <div class="fieldWrapper mb-3">
            {{ form.jersey_num.errors }}
            {{ form.jersey_num.label_tag }}
            {{ form.jersey_num }}
        </div>
        <div class="fieldWrapper mb-3">
            {{ form.position.errors }}
            {{ form.position.label_tag }}
            {{ form.position }}
        </div>
        <div class="fieldWrapper mb-3">
            {{ form.born.errors }}
            {{ form.born.label_tag }}
            {{ form.born }}
        </div>
        <div class="fieldWrapper d-flex align-items-center mb-3 gap-2">
            {{ form.height_feet.errors }}
            {{ form.height_inches.errors }}
            <label for="{{ form.height_feet.id_for_label }}">Height:</label>
            {{ form.height_feet }}{{ form.height_inches }}
        </div>
        <div class="fieldWrapper mb-3">
            {{ form.weight.errors }}
            {{ form.weight.label_tag }}
            {{ form.weight }}
        </div>

        <button type="submit" class="btn btn-primary my-2">Submit</button>
        <a href="{% url 'home' %}" class="btn btn-secondary my-2 mx-1">Back</a>
    </form>
</div>

{% endblock %}