{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<div class="home-heading">
    <h1>Team Manager</h1>
    <p>Logged in as {{ user.first_name }} {{ user.last_name }}</p>
</div>

{% if players %}

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col" class="home">Name</th>
            <th scope="col" class="home">Number</th>
            <th scope="col" class="home">Position</th>
            <th scope="col" class="home">Born</th>
            <th scope="col" class="home">Age</th>
            <th scope="col" class="home">Height</th>
            <th scope="col" class="home">Weight</th>
            <th scope="col" class="home">Date Added</th>
        </tr>
    </thead>
    <tbody>
            {% for player in players %}

            <tr class="clickable" onclick="location.href='{% url 'player' player.id %}'">
                <td data-cell="name" class="home">{{ player.first_name }} {{ player.last_name }}</td>
                <td data-cell="number" class="home">{{ player.jersey_num }}</td>
                <td data-cell="position" class="home">{{ player.position }}</td>
                <td data-cell="born" class="home">{{ player.born }}</td>
                <td data-cell="age" class="home">{{ player.player_age }}</td>
                <td data-cell="height" class="home">{{ player.height_feet }}'{{ player.height_inches }}"</td>
                <td data-cell="weight" class="home">{{ player.weight }} lbs</td>
                <td data-cell="date added" class="home">{{ player.date_added }}</td>
            </tr>

            {% endfor %}
            
    </tbody>
</table>

{% endif %}

<a href="{% url 'add' %}" class="btn btn-primary">Add Player</a>

{% else %}

<div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <h1>Login</h1>
    <form method="POST" action="{% url 'home' %}" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <input 
                type="text" 
                class="form-control" 
                name="username"
                placeholder="Username"
                required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="{% url 'register' %}" class="btn btn-secondary mx-1">Register</a>
    </form>
</div>

{% endif %}

{% endblock %}