{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<div>
    <h1>Team Manager</h1>
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Number</th>
                <th scope="col">Position</th>
                <th scope="col">Born</th>
                <th scope="col">Age</th>
                <th scope="col">Height</th>
                <th scope="col">Weight</th>
                <th scope="col">Date Added</th>
            </tr>
            </thead>
            <tbody>
                {% if players %}
                    {% for player in players %}
                        <tr class="clickable" onclick="location.href='{% url 'view_player' player.id %}'">
                            <td>{{ player.first_name }} {{ player.last_name }}</td>
                            <td>{{ player.jersey_num }}</td>
                            <td>{{ player.position }}</td>
                            <td>{{ player.born }}</td>
                            <td>{{ player.player_age }}</td>
                            <td>{{ player.height_feet }}'{{ player.height_inches }}"</td>
                            <td>{{ player.weight }} lbs</td>
                            <td>{{ player.date_added }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
        </tbody>
    </table>
    <a href="{% url 'add_player' %}" class="btn btn-primary">Add Player</a>
</div>

{% else %}

<div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <form method="POST" action="{% url 'home' %}" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <input 
                type="text" 
                class="form-control" 
                name="username"
                placeholder="Username"
                required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="{% url 'register' %}" class="btn btn-secondary mx-1">Register</a>
    </form>
</div>

{% endif %}

{% endblock %}