{% extends 'base.html' %}

{% block content %}

<div class="col-md-10 offset-md-1">

{% if user.is_authenticated %}

<h1>Team Manager</h1>
<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Number</th>
            <th scope="col">Position</th>
            <th scope="col">Born</th>
            <th scope="col">Age</th>
            <th scope="col">Height</th>
            <th scope="col">Weight</th>
            <th scope="col">Date Added</th>
        </tr>
        </thead>
        <tbody>
            {% if players %}
                {% for player in players %}
                    <tr>
                        <td>{{ player.first_name }} {{ player.last_name }}</td>
                        <td>{{ player.jersey_num }}</td>
                        <td>{{ player.position }}</td>
                        <td>{{ player.born }}</td>
                        <td>{{ player.player_age }}</td>
                        <td>{{ player.height_feet }}'{{ player.height_inches }}"</td>
                        <td>{{ player.weight }}</td>
                        <td>{{ player.date_added }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
    </tbody>
  </table>

{% else %}

    <h1>Login</h1>
    <form method="POST" action="{% url 'home' %}" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <input 
                type="text" 
                class="form-control" 
                name="username"
                placeholder="Username"
                required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

{% endif %}

</div>

{% endblock %}