{% extends 'base.html' %}
{% block content %}

<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xxl-6 offset-xxl-3">
    <h1>Register</h1>
    <form method="POST" action="">
        {% csrf_token %}

        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Your Form Has Errors
                {% for field in form %}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endif %}
        
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'home' %}" class="btn btn-secondary mx-1">Back</a>

    </form>
</div>

{% endblock %}