body {
    min-width: 352px;
    margin-bottom: 2rem;
}

.home-heading {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.clickable {
    cursor: pointer;
}

.card-header {
    font-size: 1.5rem;
    font-weight: bold;
}

.form-select {
    width: fit-content;
}

@media screen and (max-width: 768px) {
    .home-heading {
        flex-direction: column;
    }

    th.home {
        display: none;
    }

    td.home {
        display: grid;
        gap: 0.4rem;
        grid-template-columns: 11ch auto;
        padding: 0.5rem 0.5rem;
    }

    td.home:first-child {
        padding-top: 1.5rem;
    }

    td.home:last-child {
        padding-bottom: 1.5rem;
    }

    td.home::before {
        content: attr(data-cell) ': ';
        font-weight: bold;
        text-transform: capitalize;
    }
}